@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 50, 50, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: black; */
}

@layer utilities {
  .bg-blue-gray {
    @apply from-gray-400 to-blue-300 bg-gradient-to-b
  }

  .nav-link {
    @apply text-black hover:text-white text-xl hover:blue-bg p-2 hover:rounded-lg font-medium
  }

  .link-2 {
    @apply text-black hover:underline font-bold decoration-black;
  }

  .button-link {
    @apply text-black orange-bg-2 hover:bg-violet-700 px-4 py-2 rounded-lg text-base font-medium active:scale-90;
  }

  .button-link-2 {
    @apply text-black orange-bg-2 hover:orange-bg-3 px-9 py-4 shadow-md shadow-gray-700 rounded-md text-base font-medium active:scale-90;
  }

  .button-link-3 {
    @apply text-black active:shadow-none orange-bg-2 hover:orange-bg-3 px-5 py-2 shadow-md shadow-gray-600 rounded-md text-sm font-medium;
  }

  .button-link-login {
    @apply text-black border-2 border-gray-800 bg-white hover:bg-slate-200 active:shadow-none px-4 py-3 rounded-xl text-base font-medium;
  }

  .button-link-google {
    @apply text-black border-2 border-black bg-white active:shadow-none hover:bg-slate-200 px-4 py-3 rounded-xl text-base font-medium;
  }

  .button-table {
    @apply bg-gray-200 rounded-2xl py-1 px-4;
  }

  /* .rt-reset-a {
    @apply padding: 0 !important;
  } */

  .button-link-new {
    @apply text-white orange-bg hover:bg-violet-700 px-4 py-2 rounded-lg text-base font-medium active:scale-90;
  }

  .blue-custom {
    background-color: #247ca2;
  }

  .button-link-bigger {
    @apply text-green-800 bg-white hover:text-white hover:bg-green-800 px-5 py-2 rounded-xl text-lg font-bold;
  }

  .bg-cubes {
    position: relative;
  }

  .orange-bg {
    background-image: url('../assets/orange.jpg')
  }

  .orange-bg-2 {
    background-color: #fdc53d;
  }

  .black-sc {
    color: black !important;

  }



  .orange-border {
    border: 2px solid #fdc53d;
  }

  .orange-bg-3 {
    background-color: #dfad33;
  }

  .bg-cubes:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../assets/joli2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .landing-section-dashboard {
    background-image: url('../assets/bg-land.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 150vh;
  }



  .landing-section-list {
    background-image: url('../assets/bg-land.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 120vh;
  }

  .landing-section {
    background-image: url('../assets/bg-land.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: calc(100vh - 20px);
    padding-bottom: 20px;
  }

  .landing-section-home {
    background-image: url('../assets/bg-land.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: calc(100vh + 900px);
    padding-bottom: 20px;
  }

  .beautiful-bg {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blue-bg {
    background-color: #1a5f80;
  }

  .light-blue-bg {
    background-color: #d6e1e6;
  }

  /* .cree {
    @media (max-width: 500px) {
      display: none;
    }
  } */

  .non {
    display: none;
  }

  .cree-2 {

    @media (max-width: 500px) {
      display: flex;
    }
  }

  .border-thin {
    border: 1px solid gray;
  }
}