@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 50, 50, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: black; */
}

@layer utilities {
  .bg-blue-gray {
    @apply from-gray-400 to-blue-300 bg-gradient-to-b
  }

  .nav-link {
    @apply text-black hover:text-violet-700 text-xl hover:bg-white p-2 font-medium
  }

  .link {
    @apply text-white hover:scale-110 font-bold;
  }

  .button-link {
    @apply text-white bg-violet-600 hover:bg-violet-700 px-4 py-2 rounded-lg text-base font-medium active:scale-90;
  }

  .button-link-login {
    @apply text-black border-2 border-violet-800 bg-white hover:scale-110 px-4 py-3 rounded-xl text-base font-medium active:scale-90;
  }

  .button-link-google {
    @apply text-black border-2 border-black bg-white hover:scale-110 px-4 py-3 rounded-xl text-base font-medium active:scale-90;
  }

  .button-table {
    @apply bg-gray-200 rounded-2xl py-1 px-4;
  }

  /* .rt-reset-a {
    @apply padding: 0 !important;
  } */

  .button-link-new {
    @apply text-white bg-violet-600 hover:bg-violet-700 px-4 py-2 rounded-lg text-base font-medium active:scale-90;
  }

  .button-link-bigger {
    @apply text-green-800 bg-white hover:text-white hover:bg-green-800 px-5 py-2 rounded-xl text-lg font-bold;
  }

  .bg-cubes {
    position: relative;
  }

  .bg-cubes:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../assets/joli2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}